{{ define "partials/tier_row_label_editable.html" }} {{ $tier := .Tier }} {{
$uuid := .RankingUUID }}
<form
  hx-put="/r/{{ $uuid }}/tiers/{{ $tier.ID }}"
  hx-swap="outerHTML"
  hx-target="#tier-container-{{ $tier.ID }}"
  hx-trigger="submit"
  class="flex flex-col items-center gap-1 w-28 shrink-0 p-2 relative"
  style="background-color: {{ $tier.ColorHex }}1a"
  id="tier-container-{{ $tier.ID }}"
>
  <button class="h-fit cursor-pointer absolute right-2 top-2" type="submit">
    {{ template "partials/save_icon.html" }}
  </button>
  <input
    name="label"
    value="{{ $tier.Title }}"
    aria-label="Tier label"
    class="w-20 bg-transparent text-center text-xl font-bold outline-none"
    style="color: {{ $tier.ColorHex }}"
  />
  <input
    type="color"
    name="color"
    value="{{ $tier.ColorHex }}"
    aria-label="Tier color"
    class="h-5 w-10 bg-transparent"
  />
  <button
    class="text-[10px] tracking-wide text-slate-500 hover:text-rose-400"
    hx-delete="/r/{{ $uuid }}/tiers/{{ $tier.ID }}"
    hx-target="closest tier-row"
    hx-swap="outerHTML"
  >
    Delete
  </button>
</form>
{{ end }}
