{{ define "partials/tier_row_label.html" }} {{ $tier := .Tier }} {{ $slug :=
.RankingSlug }}
<div
  class="flex w-28 shrink-0 flex-col items-center justify-center gap-1 rounded-l-sm p-2"
  style="background-color: {{ $tier.Color }}1a"
  id="tier-container-{{ $tier.ID }}"
>
  <div
    class="w-20 bg-transparent text-center text-xl font-bold outline-none"
    style="color: {{ $tier.Color }}"
  >
    {{ $tier.Label }}
  </div>
  <button
    class="mr-2 text-sm h-fit cursor-pointer"
    hx-post="/r/{{ $slug }}/tiers/{{ $tier.ID }}/edit"
    hx-trigger="click"
    hx-target="#tier-container-{{ $tier.ID }}"
    hx-swap="outerHTML"
    aria-label="Edit Tier"
  >
    {{ template "partials/edit_icon.html" }}
  </button>
</div>
{{ end }}
