{{ define "pages/ranking.html" }}
  <div class="space-y-4">
    <section class="flex flex-row items-start justify-between gap-2">
      <form
        class="flex-1 space-y-2"
        hx-post="/r/{{ .Ranking.Uuid }}"
        hx-target="#ranking-meta"
        hx-swap="outerHTML"
      >
        {{ template "partials/ranking_meta.html" . }}
      </form>
      {{ if .IsDraft }}
        <span class="text-xs uppercase tracking-wide text-subtle"
          >Draft version</span
        >
      {{ end }}
    </section>

    <div id="board">{{ template "partials/board.html" . }}</div>
  </div>
{{ end }}
