package ui

import "fmt"

type BoardExportProps struct {
	RankingUUID      string
	VersionShortUUID string
}

templ BoardExport(props BoardExportProps) {
	<a
		href={ templ.URL(fmt.Sprintf("/r/%s/v/%s/export", props.RankingUUID, props.VersionShortUUID)) }
		class={ DropdownItemClass }
	>
		@DownloadIcon()
		Export CSV
	</a>
}
