package ui

type SplitButtonProps struct {
	Label   string
	Variant ButtonVariant
	Href     string
	Disabled bool
	Attrs    templ.Attributes
	// Overrides the built-in action half with a custom component.
	Action templ.Component
}

templ SplitButton(props SplitButtonProps) {
	<div class="flex items-stretch">
		if props.Action != nil {
			@props.Action
		} else if props.Href != "" {
			<a href={ templ.URL(props.Href) } class={ ButtonClass(props.Variant), SplitButtonActionClass } { props.Attrs... }>
				{ props.Label }
			</a>
		} else {
			@Button(ButtonProps{
				Variant:  props.Variant,
				Disabled: props.Disabled,
				Class:    SplitButtonActionClass,
				Attrs:    props.Attrs,
			}) {
				{ props.Label }
			}
		}
		{ children... }
	</div>
}

const (
	SplitButtonActionClass = "rounded-r-none"
	SplitButtonMenuClass   = "h-full rounded-l-none border-l border-border"
)
